# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
ios/Flutter/.last_build_id

# Android
android/.gradle/
android/local.properties
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/

# Misc
*.log
*.iml
*.lock
.flutter-plugins
.flutter-plugins-dependencies
.metadata
